@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
}


.navigation{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.logo{
    width : 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
     width: 30%;
     border: 3px solid whitesmoke;
     border-radius: 45px;
}
.nav_list{
    width: 50%;
    display: flex;
    align-items: center;
}

.nav_list li{
    list-style: none;
    padding: 25px 30px;
}


.nav_list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav_list li a:hover{
    color: grey;
}

.right_nav{
    width: 50%;
    text-align: right;
    padding: 0 25px;
}

#search_bar{
    padding: 5px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 10px;
}

.background{
    background: rgba(0, 0, 0, 0.75) url(../Image/world.png);
    background-size: cover;
    background-blend-mode: darken;
}
.first_section{
    height: 120vh;
    width: 201vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.first_half{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.second_half{
    width: 30%;
}

.second_half img{
    width: 75%;
    border: 3px solid white;
    border-radius: 300px;
    display: block;
    margin: auto;

}

.large_text{
    font-size: 40px;
}

.small_text{
    font-size: 20px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 17px;
    color: white;
    background: none;
    cursor: pointer;
}

.btn-s{
    padding: 5px 10px ;
    vertical-align: middle;
}

.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%;

}

.left{
    flex-direction: row-reverse;
}

.section_tag{
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0;
}

.section_subtag{
    font-family: 'Times New Roman', Times, serif;
}

.para{
    padding: 0 70px;
}

.thumbnail img{
    width: 450px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 25px;
    
}


#social ul{
    display: flex;
    list-style-type: none;
}

#social ul li{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 20px;
}

#social ul li.fla a{
    color: blue;
}

#social ul li.kla a{
    color: skyblue;
}

#social ul li#moco a{
color: red ;
}
.section_tag1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.follow{
    background-color: #f6f5f4;
}

.follow1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_footer{
    text-align: center;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

#contact ul{
    list-style-type: none;
    display: flex;
    margin-top: 5px;
}

#mail{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;

}

#contact ul li{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;

}

.img_1{
    width: 550px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    margin: 100px 100px 25px 200px;
       
}

.img_2{
    height: 550px;
    width: 550px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    margin: 100px 100px 25px 200px;

}

.image{
    background: rgba(0, 0, 0, 0.75) url(../Image/dna.jpg);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

 .contact{
    background-color: grey;
    height: 112vh;
    
 }

 .contact legend h1{
    font-size: 33px;
 }

  .text_center{
    text-align: center;
 }

.contact fieldset div label{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.contact fieldset div input{
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 7px;
    font-size: 18px;
    border: 2px solid #f6f5f4;
    border-radius: 6px;

}

.contact fieldset div{
    max-width: 345px;
    margin: auto;
    margin-top: 25px;
}


.contact fieldset div input.we{
    width: auto;
    cursor: pointer;

}
.contact fieldset div span.rad{
    padding: 0 20px 0 10px ;
    font-family: 'Ubuntu', sans-serif;


}

.contact fieldset{
    margin: 0 10px 0;
}

.contact fieldset div textarea{
    border: 2px solid #f6f5f4;
    border-radius: 6px;
    width: 100%;
    margin: 10px 0 30px 0;

}
.contact fieldset div input.btn_form{
    width: auto;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
}